<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Dashboard</title>
</head>

<body>
    <div class="pcoded-main-container" layout:fragment="content">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <!-- <h4 class="m-b-10 text-white"
                                    th:text="'Dashboard - Tuần ' + ${param.week} + ' / Năm ' + ${param.year}"></h4><br> -->
                                <h4 class="m-b-10 text-white">Dashboard - Tuần 
                                    <select id="select_week" class="text-center"></select>
                                    / Năm <select id="select_year" ></select>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="page-header-title"></div>
                            <ul class="breadcrumb float-right">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard"><i class="feather icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row" style="margin-top: -20px;">
                <div class="col-lg-10 col-md-12">
                    <!-- support-section start -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card overflow-hidden">
                                <figure class="highcharts-figure">
                                    <div id="container-highchart-1" class="highcharts-dashboard"></div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card overflow-hidden">
                                <figure class="highcharts-figure">
                                    <div id="container-highchart-2" class="highcharts-dashboard"></div>
                                </figure>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card overflow-hidden">
                                <figure class="highcharts-figure">
                                    <div id="container-highchart-3" class="highcharts-dashboard"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!-- support-section end -->
                </div>
                <div class="col-lg-2 col-md-12">
                    <!-- page statustic card start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h4 class="text-c-blue">30
                                                <hr class="hr-custom" />
                                            </h4>
                                            <h6 class="text-muted m-b-0">
                                                <table>
                                                    <tr>
                                                        <td style="width: 82%;">M - AM:</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>AM:</td>
                                                        <td>10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Members:</td>
                                                        <td>18</td>
                                                    </tr>
                                                </table>
                                                <!-- M - AM: 2<br />AM: 10<br />Member: 18 -->
                                            </h6>
                                        </div>
                                        <div class="col-3 text-right pl-1">
                                            <i class="feather icon-users f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-gray" style="height: 26px;">
                                    <div class="row align-items-center" style="margin-top: -10px;">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">Ban BDC</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-briefcase text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h4 class="text-c-blue">35
                                                <hr class="hr-custom" />
                                            </h4>
                                            <h6 class="text-muted m-b-0">
                                                <table>
                                                    <tr>
                                                        <td style="width: 82%;">M - PM:</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>PM:</td>
                                                        <td>13</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Members:</td>
                                                        <td>20</td>
                                                    </tr>
                                                </table>
                                                <!-- M - PM: 2<br />PM: 13<br />Member: 20 -->
                                            </h6>
                                        </div>
                                        <div class="col-3 text-right pl-1">
                                            <i class="feather icon-users f-28"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-c-gray" style="height: 26px;">
                                    <div class="row align-items-center" style="margin-top: -10px;">
                                        <div class="col-9">
                                            <p class="text-white m-b-0">Ban DO</p>
                                        </div>
                                        <div class="col-3 text-right">
                                            <i class="feather icon-briefcase text-white f-16"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page statustic card end -->
                </div>

                <!-- Modal body -->
                <th:block th:if="${!dataShows.empty}">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-style">
                                <div class="modal-header">
                                    <!-- <h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5> -->
                                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button> -->
                                </div>
                                <div class="modal-body" style="font-size: 15px; color: black; margin-top: -3%;">
                                    <div class="owl-carousel owl-theme" id="detail_slide">
                                        <th:block th:each="data : ${dataShows}">
                                            <div class="container item ml-2 mr-2" style="max-width: 1080px !important;">
                                                <div class="row d-flex">
                                                    <h5 class="pb-2 pt-1 pl-3"
                                                        style="width: 96%; background: red; border-radius: 16px; text-align: center;">
                                                        <a href="javascript:void(0)"
                                                            style="color: #fff; font-weight: bold;"
                                                            th:text="${data.getJobName()}">jobName</a>
                                                    </h5>
                                                    <button type="button" class="close ml-3 pb-2"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="row ml-2 pt-2 pb-1 pl-4 mb-4"
                                                    style="width: 95.6%; padding-bottom: 0; background: lightgrey; border-radius: 0 0 16px 16px; margin-top: -1%;">
                                                    <div class="col-6">
                                                        <b>AM:</b><span class="pl-3"
                                                            th:text="${data.getAmName()}">am</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <b>PM:</b><span class="pl-3"
                                                            th:text="${data.getPmName()}">pm</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 pl-4">
                                                        <div class="table-responsive"
                                                            style="width: 100%; overflow: auto;">
                                                            <table
                                                                class="table table-hover table-bordered table-slide-show mt-1 w-100">
                                                                <tr>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 12%;">Kế hoạch</th>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 19%;">
                                                                        Số tiền<br>([[${data.getCurrencyUnit()}]])</th>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 12%;">
                                                                        Hợp đồng<br />(D / M / Y)</th>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 12%;">
                                                                        Mục tiêu<br />(D / M / Y)</th>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 12%;">
                                                                        Thực tế<br />(D / M / Y)</th>
                                                                    <th class="text-center table-td-data-none"
                                                                        style="width: 16%;">Báo hạn</th>
                                                                    <th class="text-center table-td-data-none">
                                                                        Ghi chú</th>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        Giao hàng</td>
                                                                    <td th:text="${data.getSoTienGiaoHang()}"></td>
                                                                    <td th:text="${data.getHopDongGiaoHang()}"></td>
                                                                    <td th:text="${data.getMucTieuGiaoHang()}"></td>
                                                                    <td th:text="${data.getThucTeGiaoHang()}"></td>
                                                                    <td th:text="${data.getChenhLechGiaoHang()}"></td>
                                                                    <td th:text="${data.getNoteGiaoHang()}"></td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        Tạm ứng</td>
                                                                    <td th:text="${data.getSoTienTamUng()}">
                                                                    </td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td th:text="${data.getKeHoachTamUng()}"></td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td th:text="${data.getNoteTamUng()}"></td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        DAC
                                                                    </td>
                                                                    <td th:text="${data.getSoTienDac()}">
                                                                    </td>
                                                                    <td th:text="${data.getHopDongDac()}"></td>
                                                                    <td th:text="${data.getMucTieuDac()}"></td>
                                                                    <td th:text="${data.getThucTeDac()}"></td>
                                                                    <td th:text="${data.getChenhLechDac()}"></td>
                                                                    <td th:text="${data.getNoteDac()}"></td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        PAC</td>
                                                                    <td th:text="${data.getSoTienPac()}"></td>
                                                                    <td th:text="${data.getHopDongPac()}"></td>
                                                                    <td th:text="${data.getMucTieuPac()}"></td>
                                                                    <td th:text="${data.getThucTePac()}"></td>
                                                                    <td th:text="${data.getChenhLechPac()}"></td>
                                                                    <td th:text="${data.getNotePac()}"></td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        FAC</td>
                                                                    <td th:text="${data.getSoTienFac()}"></td>
                                                                    <td th:text="${data.getHopDongFac()}"></td>
                                                                    <td th:text="${data.getMucTieuFac()}"></td>
                                                                    <td th:text="${data.getThucTeFac()}"></td>
                                                                    <td th:text="${data.getChenhLechFac()}"></td>
                                                                    <td th:text="${data.getNoteFac()}"></td>
                                                                </tr>
                                                                <tr class="text-center">
                                                                    <td class="table-td-data-none">
                                                                        Tổng giá trị<br />thực tế</td>
                                                                    <td th:text="${data.getTongGiaTriThucTe()}"></td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td class="table-td-data-none pt-1 pb-1">
                                                                        <i class="fas fa-ban"></i>
                                                                    </td>
                                                                    <td th:text="${data.getNoteTongGiaTri()}"></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <th:block th:if="${data.getGeneralIssue() != null}">
                                                            <p>
                                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                                <span class="pl-2"><b>Tình trạng:</b></span><br />
                                                                <span class="d-flex">
                                                                    <span class="ml-2 pl-2 border-left border-primary">
                                                                        [(${data.getGeneralIssue()})]</span>
                                                                </span>
                                                            </p>
                                                            <hr>
                                                        </th:block>
                                                        <th:block th:if="${data.getKeHoachTuanNay() != null}">
                                                            <p>
                                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                                <span class="pl-2">
                                                                    <b>Kế hoạch tuần này:</b>
                                                                </span><br />
                                                                <span class="d-flex">
                                                                    <!-- <i class="fas fa-hand-point-right"></i> -->
                                                                    <span
                                                                        class="ml-2 pl-2 border-left border-primary">[(${data.getKeHoachTuanNay()})]</span>
                                                                </span>
                                                            </p>
                                                            <hr>
                                                        </th:block>
                                                        <th:block th:if="${data.getKeHoachTuanSau() != null}">
                                                            <p>
                                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                                <span class="pl-2">
                                                                    <b>Kế hoạch tuần sau:</b>
                                                                </span><br />
                                                                <span class="d-flex">
                                                                    <!-- <i class="far fa-hand-point-right"></i> -->
                                                                    <span class="ml-2 pl-2 border-left border-primary">
                                                                        [(${data.getKeHoachTuanSau()})]</span>
                                                                </span>
                                                            </p>
                                                            <hr>
                                                        </th:block>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <th:block th:if="${data.getSolution() != null}">
                                                            <p>
                                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                                <span class="pl-2">
                                                                    <b>Giải pháp:</b>
                                                                </span><br />
                                                                <span class="d-flex">
                                                                    <span class="ml-2 pl-2 border-left border-primary">
                                                                        [(${data.getSolution()})]</span>
                                                                </span>
                                                            </p>
                                                            <hr>
                                                        </th:block>
                                                        <th:block th:if="${data.getKetQuaTuanNay() != null}">
                                                            <p>
                                                                <i class="fa-solid fa-right-to-bracket"></i>
                                                                <span class="pl-2">
                                                                    <b>Kết quả thuần này:</b>
                                                                </span><br />
                                                                <span class="d-flex">
                                                                    <span class="ml-2 pl-2 border-left border-primary">
                                                                        [(${data.getKetQuaTuanNay()})]</span>
                                                                </span>
                                                            </p>
                                                            <hr>
                                                        </th:block>
                                                    </div>
                                                </div>
                                                <div>
                                                    <figcaption class="text-center"
                                                        th:text="${dataStat.index + 1} + ' / ' + ${dataShows.size}">
                                                    </figcaption>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </th:block>
                <!-- End modal -->

                <!-- Project start -->
                <div class="col-xl-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Báo cáo dự án</h5>

                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card">
                                            <a href="javascript:void(0)">
                                                <span><i class="feather icon-maximize"></i> maximize</span>
                                                <span style="display:none">
                                                    <i class="feather icon-minimize"></i>Restore
                                                </span>
                                            </a>
                                        </li>
                                        <li class="dropdown-item minimize-card">
                                            <a href="javascript:void(0)">
                                                <span><i class="feather icon-minus"></i> collapse</span>
                                                <span style="display:none">
                                                    <i class="feather icon-plus"></i> expand
                                                </span>
                                            </a>
                                        </li>
                                        <li class="dropdown-item reload-card">
                                            <a href="javascript:void(0)">
                                                <i class="feather icon-refresh-cw"></i> reload
                                            </a>
                                        </li>
                                        <!-- <li class="dropdown-item close-card">
                                            <a href="javascript:void(0)">
                                                <i class="feather icon-trash"></i> remove
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-uppercase" id="trien-khai-tab" data-toggle="tab"
                                        href="#trien-khai" role="tab" aria-controls="trien-khai" aria-selected="true">
                                        Triển khai

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="vien-thong-tab" data-toggle="tab"
                                        href="#vien-thong" role="tab" aria-controls="vien-thong" aria-selected="false">
                                        KD Viễn thông
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="chuyen-doi-so-tab" data-toggle="tab"
                                        href="#chuyen-doi-so" role="tab" aria-controls="chuyen-doi-so"
                                        aria-selected="false">
                                        KD Chuyển đổi số
                                    </a>
                                </li>
                                <th:block th:if="${!dataShows.empty}">
                                    <li style="right: 0px; position: absolute;">
                                        <button type="button" style="height: 100%" class="btn btn-danger btn-sm"
                                            data-toggle="modal" data-target="#myModal">
                                            <!-- <i class="fas fa-exclamation-triangle"></i> -->
                                            <i class="fas fa-play"></i>
                                        </button>
                                    </li>

                                </th:block>
                                <!-- Modal -->


                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="trien-khai" role="tabpanel"
                                    aria-labelledby="trien-khai-tab">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="table-trien-khai">
                                            <thead class="thead1">
                                                <tr>
                                                    <th class="text-left" style="width: 7%;">STT</th>
                                                    <th class="text-left">Tên dự án</th>
                                                    <th>Khách hàng</th>
                                                    <th>Người thực hiện (PM)</th>
                                                    <th class="text-center" style="width: 15%;">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody1" style="height: 400px;">
                                                <th:block th:each="deploymentItem : ${deploymentProject}">
                                                    <tr>
                                                        <td class="text-left" th:text="${deploymentItemStat.index + 1}"
                                                            style="width:7%"></td>
                                                        <td class="text-left">
                                                            <a th:href="@{/chi-tiet?id=} + ${deploymentItem.getId()}"
                                                                th:text="${#strings.abbreviate(deploymentItem.getJobName(),40)}"
                                                                data-toggle="tooltip"
                                                                th:title="${deploymentItem.getJobName()}"></a>
                                                        </td>
                                                        <td th:text="${deploymentItem.getCustomerName()}"></td>
                                                        <td th:text="${deploymentItem.getPicName()}"></td>
                                                        <td class="text-center" style="width: 15%;">
                                                            <button type="button"
                                                                th:class="'btn btn-' + ${deploymentItem.getStatusColor()} + ' rounded-pill pt-0 btn-status'"
                                                                data-toggle="popover" data-html="true"
                                                                data-placement="right" title=""
                                                                th:attr="data-content=${deploymentItem.getTinhTrangDuAn()}"
                                                                data-original-title="<span class='d-flex justify-content-center'>Tình trạng dự án</span>"
                                                                th:text="${deploymentItem.getStatusDisplay()}">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="vien-thong" role="tabpanel"
                                    aria-labelledby="vien-thong-tab">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="table-vien-thong">
                                            <thead class="thead1">
                                                <tr>
                                                    <th class="text-left" style="width: 7%;">STT</th>
                                                    <th class="text-left">Tên dự án</th>
                                                    <th>Khách hàng</th>
                                                    <th>Người thực hiện (AM)</th>
                                                    <th class="text-center" style="width: 15%;">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody1" style="height: 400px;">
                                                <th:block th:each="telecomItem : ${telecomProject}">
                                                    <tr>
                                                        <td class="text-left" th:text="${telecomItemStat.index + 1}"
                                                            style="width:7%">
                                                        </td>
                                                        <td class="text-left">
                                                            <a th:href="@{/chi-tiet?id=} + ${telecomItem.getId()}"
                                                                th:text="${#strings.abbreviate(telecomItem.getJobName(),40)}"
                                                                data-toggle="tooltip"
                                                                th:title="${telecomItem.getJobName()}"></a>
                                                        </td>
                                                        <td th:text="${telecomItem.getCustomerName()}"></td>
                                                        <td th:text="${telecomItem.getPicName()}"></td>
                                                        <td class="text-center" style="width: 15%;">
                                                            <button type="button"
                                                                th:class="'btn btn-' + ${telecomItem.getStatusColor()} + ' rounded-pill pt-0 btn-status'"
                                                                data-toggle="popover" data-html="true"
                                                                data-placement="right" title=""
                                                                th:attr="data-content=${telecomItem.getTinhTrangDuAn()}"
                                                                data-original-title="<span class='d-flex justify-content-center'>Tình trạng dự án</span>"
                                                                th:text="${telecomItem.getStatusDisplay()}">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="chuyen-doi-so" role="tabpanel"
                                    aria-labelledby="chuyen-doi-so-tab">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover" id="table-chuyen-doi-so">
                                            <thead class="thead1">
                                                <tr>
                                                    <th class="text-left" style="width: 7%;">STT</th>
                                                    <th class="text-left">Tên dự án</th>
                                                    <th>Khách hàng</th>
                                                    <th>Người thực hiện (AM)</th>
                                                    <th class="text-center" style="width: 15%;">Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody1" style="height: 400px;">
                                                <th:block th:each="digitalTransferItem : ${digitalTransferProject}">
                                                    <tr>
                                                        <td class="text-left" style="width: 7%;"
                                                            th:text="${digitalTransferItemStat.index + 1}">
                                                        </td>
                                                        <td class="text-left">
                                                            <a th:href="@{/chi-tiet?id=} + ${digitalTransferItem.getId()}"
                                                                th:text="${#strings.abbreviate(digitalTransferItem.getJobName(),60)}"
                                                                data-toggle="tooltip"
                                                                th:title="${digitalTransferItem.getJobName()}"></a>
                                                        </td>
                                                        <td th:text="${digitalTransferItem.getCustomerName()}"></td>
                                                        <td th:text="${digitalTransferItem.getPicName()}"></td>
                                                        <td class="text-center" style="width: 15%;">
                                                            <button type="button"
                                                                th:class="'btn btn-' + ${digitalTransferItem.getStatusColor()} + ' rounded-pill pt-0 btn-status'"
                                                                data-toggle="popover" data-html="true"
                                                                data-placement="right" title=""
                                                                th:attr="data-content=${digitalTransferItem.getTinhTrangDuAn()}"
                                                                data-original-title="<span class='d-flex justify-content-center'>Tình trạng dự án</span>"
                                                                th:text="${digitalTransferItem.getStatusDisplay()}">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</body>

</html>