<div class="tab-pane fade" id="chi-phi-va-thoi-gian" role="tabpanel" aria-labelledby="chi-phi-va-thoi-gian-tab"
    th:fragment="body">
    <div class="row mb-4">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="bg-primary text-white">
                        <td class="font-weight-bold text-center">Kế hoạch</td>
                        <td class="font-weight-bold text-center"
                            th:text="'Số tiền (' + ${detailTabPhanLoai.getCurrencyUnitDisplay()} + ')'">
                        </td>
                        <td class="font-weight-bold text-center">Hợp đồng (D / M / Y)</td>
                        <td class="font-weight-bold text-center">Mục tiêu (D / M / Y)</td>
                        <td class="font-weight-bold text-center">Thực tế (D / M / Y)</td>
                        <td class="font-weight-bold text-center">Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-primary text-white font-weight-bold text-center">
                            DAC
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getSoTienDac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getHopDongDac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getMucTieuDac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getThucTeDac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getChenhLechDac()}">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-primary text-white font-weight-bold text-center">
                            PAC
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getSoTienPac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getHopDongPac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getMucTieuPac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getThucTePac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getChenhLechPac()}">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-primary text-white font-weight-bold text-center">
                            FAC
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getSoTienFac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getHopDongFac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getMucTieuFac()}"></td>
                        <td class="text-center" th:text="${detailTabCPTT.getThucTeFac()}">
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getChenhLechFac()}">
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-primary text-white font-weight-bold text-center">
                            Tổng giá trị thực tế
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getTongGiaTriThucTe()}">
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-primary text-white font-weight-bold text-center">
                            Tạm ứng
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getSoTienTamUng()}">
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                        <td class="text-center" th:text="${detailTabCPTT.getKeHoachTamUng()}">
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                        <td class="table-td-data-none pt-1 pb-1">
                            <i class="fas fa-ban"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <hr class="mt-0">
            <div id="tabChiPhiThoiGianEditModal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="tabChiPhiThoiGianEditModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 1100px !important;">
                    <div class="modal-content">
                        <div class="modal-header pt-2 pb-2">
                            <h5 class="modal-title" id="tabChiPhiThoiGianEditModalLabel">
                                Thay đổi thông tin (Mục: Chi phí & thời gian)
                            </h5>
                            <button type="button" class="tab-chi-phi-thoi-gian-edit-modal-close close"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/chi-tiet/update/2/{id}(id=${detailTabDuThau.getId()})}"
                            id="form-tab-chi-phi-thoi-gian-edit" method="post">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-striped table-hover table-borderless">
                                            <thead>
                                                <tr class="bg-primary text-white">
                                                    <td class="align-middle font-weight-bold text-center"
                                                        style="width: 153px;">Kế hoạch</td>
                                                    <td class="align-middle font-weight-bold text-center"
                                                        th:text="'Số tiền (' + ${detailTabPhanLoai.getCurrencyUnitDisplay()} + ')'">
                                                    </td>
                                                    <td class="table-td-date align-middle font-weight-bold text-center">
                                                        Hợp đồng (D / M / Y)</td>
                                                    <td class="table-td-date align-middle font-weight-bold text-center">
                                                        Mục tiêu (D / M / Y)</td>
                                                    <td class="table-td-date align-middle font-weight-bold text-center">
                                                        Thực tế (D / M / Y)</td>
                                                    <td class="align-middle font-weight-bold text-center"
                                                        style="width: 160px;">Ghi chú</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="border-top border-white">
                                                    <td
                                                        class="bg-primary align-middle text-center text-white font-weight-bold">
                                                        DAC
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="soTienDac" id="so_tien_dac"
                                                            class="form-control text-center table-bg-form-input"
                                                            th:data-first="${detailTabCPTT.getSoTienDac()}"
                                                            th:value="${detailTabCPTT.getSoTienDac()}">
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="hopDongDac" id="hop_dong_dac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getHopDongDac()}"
                                                            th:value="${detailTabCPTT.getHopDongDac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="hop_dong_dac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="mucTieuDac" id="muc_tieu_dac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="thuc_te_dac"
                                                            data-calculate-result="chenh_lech_dac"
                                                            data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getMucTieuDac()}"
                                                            th:value="${detailTabCPTT.getMucTieuDac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="muc_tieu_dac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="thucTeDac" id="thuc_te_dac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="muc_tieu_dac"
                                                            data-calculate-result="chenh_lech_dac"
                                                            data-allow-change-status="1"
                                                            th:data-first="${detailTabCPTT.getThucTeDac()}"
                                                            th:value="${detailTabCPTT.getThucTeDac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="thuc_te_dac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <th:block th:if="${detailTabCPTT.getThucTeDac() != ''}">
                                                            <i class="fa-sharp fa-solid fa-square-check text-primary"
                                                                data-status-for="thuc_te_dac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <th:block th:if="${detailTabCPTT.getThucTeDac() == ''}">
                                                            <i class="fa-solid fa-square" data-status-for="thuc_te_dac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <span id="chenh_lech_dac"
                                                            th:text="${detailTabCPTT.getChenhLechDac()}"></span>
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-white">
                                                    <td
                                                        class="bg-primary align-middle text-center text-white font-weight-bold">
                                                        PAC
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="soTienPac" id="so_tien_pac"
                                                            class="form-control text-center table-bg-form-input"
                                                            th:data-first="${detailTabCPTT.getSoTienPac()}"
                                                            th:value="${detailTabCPTT.getSoTienPac()}">
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="hopDongPac" id="hop_dong_pac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getHopDongPac()}"
                                                            th:value="${detailTabCPTT.getHopDongPac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="hop_dong_pac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="mucTieuPac" id="muc_tieu_pac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="thuc_te_pac"
                                                            data-calculate-result="chenh_lech_pac"
                                                            data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getMucTieuPac()}"
                                                            th:value="${detailTabCPTT.getMucTieuPac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="muc_tieu_pac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="thucTePac" id="thuc_te_pac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="muc_tieu_pac"
                                                            data-calculate-result="chenh_lech_pac"
                                                            data-allow-change-status="1"
                                                            th:data-first="${detailTabCPTT.getThucTePac()}"
                                                            th:value="${detailTabCPTT.getThucTePac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="thuc_te_pac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <th:block th:if="${detailTabCPTT.getThucTePac() != ''}">
                                                            <i class="fa-sharp fa-solid fa-square-check text-primary"
                                                                data-status-for="thuc_te_pac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <th:block th:if="${detailTabCPTT.getThucTePac() == ''}">
                                                            <i class="fa-solid fa-square" data-status-for="thuc_te_pac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <span id="chenh_lech_pac"
                                                            th:text="${detailTabCPTT.getChenhLechPac()}"></span>
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-white">
                                                    <td
                                                        class="bg-primary align-middle text-center text-white font-weight-bold">
                                                        FAC
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="soTienFac" id="so_tien_fac"
                                                            class="form-control text-center table-bg-form-input"
                                                            th:data-first="${detailTabCPTT.getSoTienFac()}"
                                                            th:value="${detailTabCPTT.getSoTienFac()}">
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="hopDongFac" id="hop_dong_fac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getHopDongFac()}"
                                                            th:value="${detailTabCPTT.getHopDongFac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="hop_dong_fac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="mucTieuFac" id="muc_tieu_fac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="thuc_te_fac"
                                                            data-calculate-result="chenh_lech_fac"
                                                            data-allow-change-status="0"
                                                            th:data-first="${detailTabCPTT.getMucTieuFac()}"
                                                            th:value="${detailTabCPTT.getMucTieuFac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="muc_tieu_fac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="thucTeFac" id="thuc_te_fac"
                                                            class="form-control text-center input-datepicker float-left"
                                                            placeholder="dd / mm / yyyy" data-related-id="muc_tieu_fac"
                                                            data-calculate-result="chenh_lech_fac"
                                                            data-allow-change-status="1"
                                                            th:data-first="${detailTabCPTT.getThucTeFac()}"
                                                            th:value="${detailTabCPTT.getThucTeFac()}" readonly="">
                                                        <button type="button"
                                                            class="btn-delete-input btn btn-outline-primary float-right pt-2 pl-1 pr-1"
                                                            style="width: 27px; height: 43px; padding-top: 2px;"
                                                            data-target="thuc_te_fac">
                                                            <i class="feather icon-x"></i>
                                                        </button>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <th:block th:if="${detailTabCPTT.getThucTeFac() != ''}">
                                                            <i class="fa-sharp fa-solid fa-square-check text-primary"
                                                                data-status-for="thuc_te_fac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <th:block th:if="${detailTabCPTT.getThucTeFac() == ''}">
                                                            <i class="fa-solid fa-square" data-status-for="thuc_te_fac"
                                                                style="font-size: 20px;"></i>
                                                        </th:block>
                                                        <span id="chenh_lech_fac"
                                                            th:text="${detailTabCPTT.getChenhLechFac()}"></span>
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-white">
                                                    <td
                                                        class="bg-primary align-middle text-center text-white font-weight-bold">
                                                        Tổng giá trị thực tế
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="tongGiaTriThucTe"
                                                            id="tong_gia_tri_thuc_te"
                                                            class="form-control text-center table-bg-form-input"
                                                            th:data-first="${detailTabCPTT.getTongGiaTriThucTe()}"
                                                            th:value="${detailTabCPTT.getTongGiaTriThucTe()}">
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="border-top border-white">
                                                    <td
                                                        class="bg-primary align-middle text-center text-white font-weight-bold">
                                                        Tạm ứng
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" name="soTienTamUng" id="so_tien_tam_ung"
                                                            class="form-control text-center table-bg-form-input"
                                                            th:data-first="${detailTabCPTT.getSoTienTamUng()}"
                                                            th:value="${detailTabCPTT.getSoTienTamUng()}">
                                                    </td>
                                                    <td></td>
                                                    <td class="p-2">
                                                        <input type="text" name="keHoachTamUng" id="ke_hoach_tam_ung"
                                                            class="form-control text-center input-datepicker"
                                                            th:data-first="${detailTabCPTT.getKeHoachTamUng()}"
                                                            th:value="${detailTabCPTT.getKeHoachTamUng()}" readonly="">
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer pr-2 pt-2 pb-2">
                                <button type="button"
                                    class="tab-chi-phi-thoi-gian-edit-modal-close btn btn-secondary pt-1"
                                    style="height: 30px; width: 100px;">Hủy</button>
                                <button type="button" id="btn-tab-chi-phi-thoi-gian-edit-reset"
                                    class="btn btn-light pt-1" style="height: 30px; width: 100px;">
                                    Hoàn tác</button>
                                <button type="submit" id="btn-tab-chi-phi-thoi-gian-edit-submit"
                                    class="btn btn-primary pt-1" style="height: 30px; width: 100px;">
                                    Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" id="chi-phi-thoi-gian-open-modal-edit" class="btn btn-warning pt-1 float-right"
                data-toggle="modal" data-target="#tabChiPhiThoiGianEditModal" style="height: 30px; width: 130px;">
                <i class="feather mr-2 icon-edit"></i>Chỉnh sửa
            </button>
        </div>
    </div>
</div>