<div class="tab-pane fade" id="du-thau" role="tabpanel" aria-labelledby="du-thau-tab" th:fragment="body">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25 text-center">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Công việc
                    </span>
                </div>
                <textarea class="form-control" aria-label="Công việc" id="jobName" rows="2"
                    th:text="${detailTabDuThau.getJobName()}" readonly></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Mô tả</span>
                </div>
                <textarea class="form-control" aria-label="Mô tả" id="jobDescription" rows="2"
                    th:text="${detailTabDuThau.getDescription()}" readonly></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Phân tích SWOOT</span>
                </div>
                <textarea class="form-control" aria-label="Phân tích SWOOT" id="jobDescription" rows="2"
                    th:text="${detailTabDuThau.getPhanTichSwoot()}" readonly></textarea>
            </div>
            <div class="form-group row pl-1">
                <label for="mucDoKhaThi" class="col-sm-3 col-form-label font-weight-bold">
                    Mức độ khả thi
                </label>
                <div class="col-sm-9">
                    <div class="bar-holder" style="margin-top: -10px;">
                        <th:block
                            th:if="${detailTabDuThau.getMucDoKhaThi() >= 0 && detailTabDuThau.getMucDoKhaThi() <= 20}">
                            <div class="font-weight-bold bar-20"
                                th:style="'width: ' + ${detailTabDuThau.getMucDoKhaThi()} + '% !important;'"
                                th:text="${detailTabDuThau.getMucDoKhaThi()} + '%'">
                            </div>
                        </th:block>
                        <th:block
                            th:if="${detailTabDuThau.getMucDoKhaThi() > 20 && detailTabDuThau.getMucDoKhaThi() <= 40}">
                            <div class="font-weight-bold bar-40"
                                th:style="'width: ' + ${detailTabDuThau.getMucDoKhaThi()} + '% !important;'"
                                th:text="${detailTabDuThau.getMucDoKhaThi()} + '%'">
                            </div>
                        </th:block>
                        <th:block
                            th:if="${detailTabDuThau.getMucDoKhaThi() > 40 && detailTabDuThau.getMucDoKhaThi() <= 60}">
                            <div class="font-weight-bold bar-60"
                                th:style="'width: ' + ${detailTabDuThau.getMucDoKhaThi()} + '% !important;'"
                                th:text="${detailTabDuThau.getMucDoKhaThi()} + '%'">
                            </div>
                        </th:block>
                        <th:block
                            th:if="${detailTabDuThau.getMucDoKhaThi() > 60 && detailTabDuThau.getMucDoKhaThi() <= 80}">
                            <div class="font-weight-bold bar-80"
                                th:style="'width: ' + ${detailTabDuThau.getMucDoKhaThi()} + '% !important;'"
                                th:text="${detailTabDuThau.getMucDoKhaThi()} + '%'">
                            </div>
                        </th:block>
                        <th:block
                            th:if="${detailTabDuThau.getMucDoKhaThi() > 80 && detailTabDuThau.getMucDoKhaThi() <= 100}">
                            <div class="font-weight-bold bar-100"
                                th:style="'width: ' + ${detailTabDuThau.getMucDoKhaThi()} + '% !important;'"
                                th:text="${detailTabDuThau.getMucDoKhaThi()} + '%'">
                            </div>
                        </th:block>
                    </div>
                    <!-- <div class="bar-holder">
                        <div class="font-weight-bold bar-20">20%</div>
                    </div>
                    <div class="bar-holder">
                        <div class="font-weight-bold bar-40">40%</div>
                    </div>
                    <div class="bar-holder">
                        <div class="font-weight-bold bar-60">60%</div>
                    </div>
                    <div class="bar-holder">
                        <div class="font-weight-bold bar-80">80%</div>
                    </div>
                    <div class="bar-holder">
                        <div class="font-weight-bold bar-100">100%</div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Khách hàng</span>
                </div>
                <input type="text" class="form-control" id="customerName"
                    th:value="${detailTabDuThau.getCustomerName()}" readonly>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Hình thức đầu tư</span>
                </div>
                <input type="text" class="form-control" id="hinhThucDauTu"
                    th:value="${detailTabDuThau.getHinhThucDauTu()}" readonly>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Phạm vi cung cấp</span>
                </div>
                <input type="text" class="form-control" id="phamViCungCap"
                    th:value="${detailTabDuThau.getPhamViCungCap()}" readonly>
            </div>
            <div class="input-group">
                <div class="input-group-prepend bg-primary w-25">
                    <span
                        class="d-flex justify-content-center input-group-text w-100 bg-primary text-white font-weight-bold">
                        Tổng mức đầu tư<br>(dự kiến)</span>
                </div>
                <input type="text" class="form-control" style="height: 63.5px;" id="tongMucDauTuDuKien"
                    th:value="${detailTabDuThau.getTongMucDauTuDuKien()}" readonly>
            </div>
        </div>
    </div>
</div>