<div class="tab-pane fade" id="qua-trinh" role="tabpanel" aria-labelledby="qua-trinh-tab" th:fragment="body">
    <div class="demo pt-4 pb-4">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-adjust"></i> -->
                            <i class="fa fa-briefcase"></i>
                            <div class="price-value">
                                Kết quả<span class="month">Tuần này / Tuần trước</span>
                            </div>
                        </div>
                        <h5 class="card-1-1 heading">
                            Tuần này: [[${detailTabPhanLoai.getWeek()}]]
                        </h5>
                        <div class="card-1-1 pricing-content text-left pt-0 pr-3 pb-3 pl-3">
                            <span class="text-dark">
                                [(${detailTabQuaTrinh.getKetQuaTuanNay()})]
                            </span>
                        </div>
                        <!-- <hr class="bg-warning mr-2 ml-2"> -->
                        <h5 class="card-1-2 heading">
                            Tuần trước: [[${detailTabPhanLoai.getWeek() - 1}]]
                        </h5>
                        <div class="card-1-2 pricing-content text-left pt-0 pr-3 pb-3 pl-3">
                            <span class="text-dark">
                                [(${detailTabQuaTrinh.getKetQuaTuanTruoc()})]
                            </span>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="javascript:void(0)" class="card-1-1 btn-change-data-view" data-showing="card-1-1"
                                data-hiding="card-1-2">Xem tuần trước</a>
                            <a href="javascript:void(0)" class="card-1-2 btn-change-data-view" data-showing="card-1-2"
                                data-hiding="card-1-1">Xem tuần này</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable green">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-briefcase"></i> -->
                            <i class="fa-solid fa-paper-plane"></i>
                            <div class="price-value">
                                Kế hoạch<span class="month">Tuần sau / Tuần này</span>
                            </div>
                        </div>
                        <h5 class="card-2-1 heading">
                            Tuần sau: [[${detailTabPhanLoai.getWeek() + 1}]]
                        </h5>
                        <div class="card-2-1 pricing-content text-left pt-0 pr-3 pb-3 pl-3">
                            <span class="text-dark">
                                [(${detailTabQuaTrinh.getKeHoachTuanSau()})]
                            </span>
                        </div>
                        <!-- <hr class="bg-success mr-2 ml-2"> -->
                        <h5 class="card-2-2 heading">
                            Tuần này: [[${detailTabPhanLoai.getWeek()}]]
                        </h5>
                        <div class="card-2-2 pricing-content text-left pt-0 pr-3 pb-3 pl-3">
                            <span class="text-dark">
                                [(${detailTabQuaTrinh.getKeHoachTuanNay()})]
                            </span>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="javascript:void(0)" class="card-2-1 btn-change-data-view" data-showing="card-2-1"
                                data-hiding="card-2-2">Xem tuần này</a>
                            <a href="javascript:void(0)" class="card-2-2 btn-change-data-view" data-showing="card-2-2"
                                data-hiding="card-2-1">Xem tuần sau</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-diamond"></i> -->
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <div class="price-value">Khó khăn<span class="month">General Issue</span></div>
                        </div>
                        <h3 class="heading">Nội dung</h3>
                        <div class="pricing-content text-left p-3">
                            <span class="text-dark card-3-1">
                                [(${#strings.abbreviate(detailTabQuaTrinh.getGeneralIssue(), 190)})]
                            </span>
                            <span class="text-dark card-3-2">
                                [(${detailTabQuaTrinh.getGeneralIssue()})]
                            </span>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="javascript:void(0)" class="card-3-1 detail-tab4-show-more" data-showing="card-3-1"
                                data-hiding="card-3-2">Xem thêm</a>
                            <a href="javascript:void(0)" class="card-3-2 detail-tab4-show-more" data-showing="card-3-2"
                                data-hiding="card-3-1">Thu gọn</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable red">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-cube"></i> -->
                            <i class="fa-solid fa-lightbulb"></i>
                            <div class="price-value">Giải pháp<span class="month">Solution</span></div>
                        </div>
                        <h3 class="heading">Nội dung</h3>
                        <div class="pricing-content text-left p-3">
                            <span class="text-dark card-4-1">
                                [(${#strings.abbreviate(detailTabQuaTrinh.getSolution(), 190)})]
                            </span>
                            <span class="text-dark card-4-2">
                                [(${detailTabQuaTrinh.getSolution()})]
                            </span>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="javascript:void(0)" class="card-4-1 detail-tab4-show-more" data-showing="card-4-1"
                                data-hiding="card-4-2">Xem thêm</a>
                            <a href="javascript:void(0)" class="card-4-2 detail-tab4-show-more" data-showing="card-4-2"
                                data-hiding="card-4-1">Thu gọn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>