<div class="tab-pane fade" id="thanh-vien" role="tabpanel" aria-labelledby="thanh-vien-tab" th:fragment="body">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="l-grid">
                <div class="l-grid__item l-grid__item--sm u-hide--mobile">
                    <div class="c-card">
                        <div class="c-card__header">
                            <div class="c-card__title">Thêm thành viên mới</div>
                            <div class="l-actions">
                                <div class="c-button c-button--default c-button--sm" id="closeMobileAdd">Đóng</div>
                            </div>
                        </div>
                        <div class="c-card__body" id="addForm">
                            <form th:action="@{/chi-tiet/add-member/{id}(id=${detailTabPhanLoai.getId()})}"
                                id="form-tab-thanh-vien" method="post">
                                <div class="c-form-field">
                                    <input type="hidden" name="createdBy" value="1" />
                                    <input type="hidden" name="moddifiedBy" value="1" />
                                    <input type="hidden" name="projectId" th:value="${detailTabPhanLoai.getProjectId()}"
                                        id="tabThanhVienProjectId" />
                                    <input type="hidden" name="firstReportId" th:value="${detailTabPhanLoai.getId()}"
                                        id="tabThanhVienFirstReportId" />
                                    <label class="c-form-field__label" for="userOption">Thành viên</label>
                                    <select id="userOption" name="userId"></select>
                                </div>
                                <div class="c-form-field">
                                    <label class="c-form-field__label" for="newInviteName">Tên</label>
                                    <input class="c-form-field__input" id="newInviteName" type="text"
                                        placeholder="Nguyễn Văn A" readonly />
                                </div>
                                <div class="c-form-field">
                                    <label class="c-form-field__label" for="newInvitePosition">Vai trò</label>
                                    <input class="c-form-field__input" id="newInvitePosition" type="text"
                                        placeholder="Phó ban DO" readonly />
                                </div>
                                <div class="c-form-field">
                                    <label class="c-form-field__label" for="newJobAssigned">Công việc phân bổ</label>
                                    <textarea class="tinymce-content-job-assigned" id="newJobAssigned"
                                        name="jobAssigned"
                                        placeholder="Mời nhập nội dung CÔNG VIỆC PHÂN BỔ..."></textarea>
                                </div>
                                <th:block th:unless="${#strings.contains(session.userRole, 'DO_READ_ONLY')}">
                                    <button type="submit" class="c-button c-button--primary c-button--full"
                                        style="font-size: 16px;" id="addMember">Thêm vào dự án</button>
                                </th:block>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="l-grid__item l-grid__item--md">
                    <div class="c-card">
                        <div class="c-card__header">
                            <div class="c-card__title">Danh sách thành viên</div>
                            <div class="l-actions">
                                <div class="c-button c-button--primary c-button--sm" id="mobileAddBtn">Thêm +</div>
                            </div>
                        </div>
                        <div class="c-card__body">
                            <div class="c-media">
                                <div class="c-media__avatar"><span>A</span></div>
                                <div class="c-media__content">
                                    <h5 class="c-media__subtitle u-text--regular">Đội ngũ</h5>
                                    <div class="u-text--bold">
                                        Tham gia dự án
                                        <small class="u-text--default u-text--regular" id="teamCount">
                                            (10 thành viên)</small>
                                    </div>
                                </div>
                            </div>
                            <!-- <p>Manage the current members of this team and customize your team settings.</p> -->
                        </div>
                        <ul class="c-list list-member-overflow">
                            <div id="modalViewMemberDetail" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="modalViewMemberDetailLabel" aria-hidden="true">
                                <div class="modal-dialog" id="modalViewMemberDetailDialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalViewMemberDetailLabel">
                                                Chi tiết thành viên
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body pt-0">
                                            <div class="row">
                                                <div class="col-md-4 d-flex justify-content-center align-items-center"
                                                    id="detail_member_avatar"></div>
                                                <div class="col-md-8 pl-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="pt-1 pb-1">
                                                                        <i class="feather icon-user"
                                                                            data-toggle="tooltip" data-placement="left"
                                                                            title="Họ tên"></i>
                                                                    </td>
                                                                    <td class="pt-1 pb-1" id="detail_member_fullname"
                                                                        data-toggle="tooltip" data-placement="left"
                                                                        title="Họ tên">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-1 pb-1">
                                                                        <i class="feather icon-mail"
                                                                            data-toggle="tooltip" data-placement="left"
                                                                            title="Mail"></i>
                                                                    </td>
                                                                    <td class="pt-1 pb-1" id="detail_member_mail"
                                                                        data-toggle="tooltip" data-placement="left"
                                                                        title="Mail"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-1 pb-1">
                                                                        <i class="feather icon-briefcase"
                                                                            data-toggle="tooltip" data-placement="left"
                                                                            title="Vai trò"></i>
                                                                    </td>
                                                                    <td class="pt-1 pb-1" id="detail_member_position"
                                                                        data-toggle="tooltip" data-placement="left"
                                                                        title="Vai trò">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-1 pb-1">
                                                                        <i class="feather icon-home"
                                                                            data-toggle="tooltip" data-placement="left"
                                                                            title="Ban / Trung tâm"></i>
                                                                    </td>
                                                                    <td class="pt-1 pb-1" id="detail_member_work_center"
                                                                        data-toggle="tooltip" data-placement="left"
                                                                        title="Ban / Trung tâm"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-sm-8 pt-1">
                                                            <label class="font-weight-bold">
                                                                <i class="feather icon-clipboard"></i>
                                                                <span class="text-primary pl-1">
                                                                    Công việc phân bổ</span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <!-- <button type="button" id="btnMemberUpdateJobDetail"
                                                                class="btn btn-outline-primary float-right pt-1 pb-1 rounded-pill"
                                                                data-toggle="modal" data-target="#jobAssignedEditModal">
                                                                <i class="feather mr-2 icon-edit"></i>sửa</button>
                                                            </button> -->
                                                        </div>
                                                    </div>
                                                    <div class="member-job-overflow pl-4"
                                                        id="detail_member_job_assigned"></div>
                                                </div>
                                                <!-- <div class="col-md-12 pt-3">
                                                    <div class="row">
                                                        <div class="col-sm-8 pt-1">
                                                            <label class="font-weight-bold">
                                                                <i class="feather icon-clipboard"></i>
                                                                <span class="text-primary pl-1">
                                                                    Quá trình làm việc</span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <button type="button" id="btnMemberUpdateJobDetail"
                                                                class="btn btn-outline-primary float-right pt-1 pb-1 rounded-pill"
                                                                data-toggle="modal" data-target="#jobDetailEditModal">
                                                                <i class="feather mr-2 icon-edit"></i>sửa</button>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="member-job-overflow pl-4" id="detail_member_job_detail">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="jobAssignedEditModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="jobAssignedEditModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-member-update" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="jobAssignedEditModalLabel">
                                                Cập nhật công việc phân bổ</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea id="jobAssignedEditModalTinymce" name="jobAssigned"
                                                placeholder="Mời nhập nội dung CÔNG VIỆC PHÂN BỔ..."></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="jobDetailEditModal" class="modal fade" tabindex="-1" role="dialog"
                                aria-labelledby="jobDetailEditModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-member-update" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="jobDetailEditModalLabel">
                                                Cập nhật quá trình làm việc</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea id="jobDetailEditModalTinymce" name="jobDetail"
                                                placeholder="Mời nhập nội dung QUÁ TRÌNH LÀM VIỆC..."></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <th:block th:each="detailTabThanhVienItem : ${detailTabThanhVien}">
                                <li class="c-contact">
                                    <div class="c-contact__left">
                                        <div class="c-contact__avatar"
                                            th:data-avatar="@{/images/user/} + ${detailTabThanhVienItem.getAvatar()}">
                                        </div>
                                        <div class="c-contact__content">
                                            <div class="c-contact__name">
                                                [[${detailTabThanhVienItem.getFullname()}]]</div>
                                            <small class="c-contact__description">
                                                [[${detailTabThanhVienItem.getPosition()}]]</small>
                                        </div>
                                    </div>
                                    <div class="l-actions contact__right">
                                        <div th:data-id="${detailTabThanhVienItem.getId()}"
                                            th:data-fullname="${detailTabThanhVienItem.getFullname()}"
                                            class="c-button c-button--danger c-button--sm c-button--delete btn-delete-report-member">
                                            Delete</div>
                                        <div th:data-id="${detailTabThanhVienItem.getId()}"
                                            class="c-button c-button--default c-button--sm c-button--view btn-view-report-member"
                                            data-toggle="modal" data-target="#modalViewMemberDetail">
                                            View</div>
                                    </div>
                                </li>
                            </th:block>



                            <!-- <li class="c-contact">
                                <div class="c-contact__left">
                                    <div class="c-contact__avatar"
                                        data-avatar="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;s=707b9c33066bf8808c934c8ab394dff6">
                                    </div>
                                    <div class="c-contact__content">
                                        <div class="c-contact__name">Vũ Tuấn Khanh</div>
                                        <small class="c-contact__description">Trưởng ban DO</small>
                                    </div>
                                </div>
                                <div class="l-actions contact__right">
                                    <div class="c-button c-button--danger c-button--sm c-button--delete">Delete</div>
                                    <div class="c-button c-button--default c-button--sm c-button--view">View</div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6 table-responsive">
            <table class="table table-striped table-hover custom-table">
                <tbody>
                    <tr class="bg-primary">
                        <td colspan="5" class="text-detail-thanh-vien text-white font-weight-bold pt-1 pb-1"
                            align="center">
                            Ban BDC
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold pt-4 w-25">Quản lý AM</td>
                        <td style="width: 20%;">
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_manager_name()}">
                                        <img th:src="@{/images/user/avatar-8.png}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td width="10%" class="text-center font-weight-bold"
                            style="padding-top: 3px; padding-bottom: 6px; font-size: 40px;">
                            /</td>
                        <td class="font-weight-bold pt-4">AM</td>
                        <td>
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-1.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold pt-4">Tham gia</td>
                        <td colspan="4">
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-2.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-6.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-5.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-4.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getAm_name()}">
                                        <img th:src="@{/images/user/avatar-3.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <!-- <div class="col-md-6 table-responsive">
            <table class="table table-striped table-hover custom-table">
                <tbody>
                    <tr class="bg-primary">
                        <td colspan="5" class="text-detail-thanh-vien text-white font-weight-bold pt-1 pb-1"
                            align="center">
                            Ban DO
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold pt-4 w-25">Quản lý PM</td>
                        <td style="width: 20%;">
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_manager_name()}">
                                        <img th:src="@{/images/user/avatar-8.png}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td width="10%" class="text-center font-weight-bold"
                            style="padding-top: 3px; padding-bottom: 6px; font-size: 40px;">
                            /</td>
                        <td class="font-weight-bold pt-4">PM</td>
                        <td>
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-1.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold pt-4">Tham gia</td>
                        <td colspan="4">
                            <ul class="persons">
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-2.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-6.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-5.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-4.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-toggle="tooltip"
                                        th:title="${projectDetail.getPm_name()}">
                                        <img th:src="@{/images/user/avatar-3.jpg}" alt="Person"
                                            class="img-fluid img-thanh-vien">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <!-- <div class="col-md-12 pb-4">
            <hr class="mt-0">
            <div id="tabThanhVienEditModal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="tabThanhVienEditModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 1100px !important;">
                    <div class="modal-content">
                        <div class="modal-header pt-2 pb-2">
                            <h5 class="modal-title" id="tabThanhVienEditModalLabel">
                                Thay đổi thông tin (Mục: Thành viên)
                            </h5>
                            <button type="button" class="tab-thanh-vien-edit-modal-close close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/chi-tiet/update/{id}(id=${projectDetail.getId()})} + '?tab=2'"
                            id="form-tab-thanh-vien-edit" method="post">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div
                                                    class="bg-primary text-detail-thanh-vien text-white text-center font-weight-bold pt-1 pb-1">
                                                    Ban BDC
                                                </div>
                                            </div>
                                            <div class="col-md-4 font-weight-bold pt-3 pl-4 mt-3">Quản lý AM</div>
                                            <div id="manager-am-selection" class="col-md-8 pr-4 mt-3">
                                                <select id="am_manager" name="am_manager"
                                                    th:data-first="${projectDetail.getAm_manager_id()}">
                                                    <option th:value="${projectDetail.getAm_manager_id()}"
                                                        th:text="${projectDetail.getAm_manager_name()}" selected>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                            <div class="col-md-4 font-weight-bold pt-2 pl-4">AM</div>
                                            <div id="am-selection" class="col-md-8 pr-4">
                                                <select id="am_id" name="am_id"
                                                    th:data-first="${projectDetail.getAm_id()}">
                                                    <option th:value="${projectDetail.getAm_id()}"
                                                        th:text="${projectDetail.getAm_name()}" selected>
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                            <div class="col-md-4 font-weight-bold pt-2 pl-4">Tham gia</div>
                                            <div id="am-member-selection" class="col-md-8 pr-4">
                                                <ul class="persons">
                                                    <li>
                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                            th:title="${projectDetail.getAm_name()}">
                                                            <img th:src="@{/images/user/avatar-2.jpg}" alt="Person"
                                                                class="img-fluid img-thanh-vien">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                            th:title="${projectDetail.getAm_name()}">
                                                            <img th:src="@{/images/user/avatar-6.jpg}" alt="Person"
                                                                class="img-fluid img-thanh-vien">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                            th:title="${projectDetail.getAm_name()}">
                                                            <img th:src="@{/images/user/avatar-5.jpg}" alt="Person"
                                                                class="img-fluid img-thanh-vien">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                            th:title="${projectDetail.getAm_name()}">
                                                            <img th:src="@{/images/user/avatar-4.jpg}" alt="Person"
                                                                class="img-fluid img-thanh-vien">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                            th:title="${projectDetail.getAm_name()}">
                                                            <img th:src="@{/images/user/avatar-3.jpg}" alt="Person"
                                                                class="img-fluid img-thanh-vien">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 table-responsive">
                                        <table class="table table-striped table-hover custom-table">
                                            <tbody>
                                                <tr class="bg-primary">
                                                    <td colspan="5"
                                                        class="text-detail-thanh-vien text-white font-weight-bold pt-1 pb-1"
                                                        align="center">
                                                        Ban DO
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold pt-4 w-25">Quản lý PM</td>
                                                    <td style="width: 20%;">
                                                        <ul class="persons">
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_manager_name()}">
                                                                    <img th:src="@{/images/user/avatar-8.png}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td width="10%" class="text-center font-weight-bold"
                                                        style="padding-top: 3px; padding-bottom: 6px; font-size: 40px;">
                                                        /</td>
                                                    <td class="font-weight-bold pt-4">PM</td>
                                                    <td>
                                                        <ul class="persons">
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-1.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold pt-4">Tham gia</td>
                                                    <td colspan="4">
                                                        <ul class="persons">
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-2.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-6.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-5.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-4.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-toggle="tooltip"
                                                                    th:title="${projectDetail.getPm_name()}">
                                                                    <img th:src="@{/images/user/avatar-3.jpg}"
                                                                        alt="Person" class="img-fluid img-thanh-vien">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer pr-2 pt-2 pb-2">
                                <button type="button" class="tab-thanh-vien-edit-modal-close btn btn-secondary pt-1"
                                    style="height: 30px; width: 100px;">Hủy</button>
                                <button type="button" id="btn-tab-thanh-vien-edit-reset" class="btn btn-light pt-1"
                                    style="height: 30px; width: 100px;">
                                    Hoàn tác</button>
                                <button type="submit" id="btn-tab-thanh-vien-edit-submit" class="btn btn-primary pt-1"
                                    style="height: 30px; width: 100px;">
                                    Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" id="thanh-vien-open-modal-edit" class="btn btn-warning pt-1 float-right"
                data-toggle="modal" data-target="#tabThanhVienEditModal" style="height: 30px; width: 130px;">
                <i class="feather mr-2 icon-edit"></i>Chỉnh sửa
            </button>
        </div> -->
    </div>
</div>