.btn-option {
    height: 30px;
    width: 32%;
}

.input-datepicker {
    width: 89%;
}

.input-datepicker:focus {
    background-color: #FFF;
}

tbody {
    display: block;
    /* height: 400px; */
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    /* scrollbar is average 1em/16px width, remove it from thead width */
    width: calc(100% - 1em);
}