.btn-option {
    height: 30px;
    width: 32%;
}

.input-datepicker {
    width: 86%;
    /* width: 120px; */
}

.input-datepicker:focus {
    background-color: #FFF;
}

.btn-delete-input {
    width: 14%;
    height: 43px;
}

.table thead tr {
    height: 45px;
}

.table thead th {
    background-color: #4680ff !important;
    color: #FFF !important;
    border-radius: 8px;
    text-transform: none;
    padding: 0px;
}

.table-list-report tbody {
    display: block;
    overflow: auto;
}

.table-list-report thead,
.table-list-report tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-list-report thead {
    /* scrollbar is average 1em/16px width, remove it from thead width */
    width: calc(100% - 1em);
}

/* .select2-container {
    width: 80px !important;
    height: 30px;
}

.select2-container--default .select2-selection--single {
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -45% !important;
} */