<!DOCTYPE html>
<html>

<head></head>

<body>
    <nav class="pcoded-navbar menu-light" th:fragment="menu">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div ">
                <div class="">
                    <div class="main-menu-header">
                        <img th:src="${session.avatar} == null ? @{/images/user/_default-user.png} : @{'/images/user/' + ${session.avatar}}"
                            alt="user image" class="img-radius align-top m-r-15" style="width: 46px !important;">
                        <div class="user-details">
                            <div id="more-details">
                                <span id="username_display_nav" data-toggle="tooltip" data-placement="bottom"
                                    th:title="${session.username}"
                                    th:data-readonly="${#strings.contains(session.userRole, 'DO_READ_ONLY')}">
                                    [[${#strings.abbreviate(session.username, 20)}]]</span>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="nav-user-link">
                        <ul class="list-unstyled">
                            <li class="list-group-item">
                                <a href="javascript:void(0)" id="user-profile-btn" th:data-id="${session.userId}">
                                    <i class="feather icon-user m-r-5"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <!-- <li class="list-group-item">
                                <a href="#!">
                                    <i class="feather icon-settings m-r-5"></i>Cài đặt
                                </a>
                            </li> -->
                            <li class="list-group-item">
                                <a th:href="@{/logout}">
                                    <i class="feather icon-log-out m-r-5"></i>Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="nav pcoded-inner-navbar ">
                    <th:block th:each="mclItem : ${menuCategoryLayout}">
                        <li class="nav-item pcoded-menu-caption">
                            <label th:text="${mclItem.getMenuCategoryName()}"></label>
                        </li>

                        <th:block th:each="menu_level_1 : ${mclItem.getMenuItem()}">
                            <!-- <li class="
                                    nav-item 
                                    ${menu_level_1.getInclude() == 1 ? 'pcoded-hasmenu' : ''} 
                                    ${fn:contains(pageContext.request.requestURI, 'dashboard') ? '' : 'active'}
                                "></li> -->
                            <li class="nav-item"
                                th:classappend="${menu_level_1.getInclude() == 1} ? 'pcoded-hasmenu' : ''">
                                <a th:href="${menu_level_1.getLink() } != 'javascript:void(0)' 
                                ? @{'/' + ${menu_level_1.getLink()}}
                                : ${menu_level_1.getLink() }" class="nav-link"
                                    th:classappend="${menu_level_1.getNote()}">
                                    <span th:unless="${menu_level_1.getDataCount() > 0}" class="pcoded-micon">
                                        <i class="feather" th:classappend="${menu_level_1.getIcon()}"></i>
                                    </span>
                                    <span th:if="${menu_level_1.getDataCount() > 0}" class="pcoded-micon">
                                        <button type="button" class="btn btn-icon btn-primary w-10 menu-count-report">
                                            [[${menu_level_1.getDataCount()}]]
                                        </button>
                                    </span>
                                    <span class="pcoded-mtext">
                                        [[${#strings.abbreviate(menu_level_1.getMenuName(), 15)}]]
                                    </span>
                                </a>

                                <th:block th:if="${menu_level_1.getInclude() == 1}">
                                    <ul class="pcoded-submenu">
                                        <th:block th:each="menu_level_2 : ${menu_level_1.getMenuChild()}">
                                            <li>
                                                <a th:if="${menu_level_2.getLinkSub() != 'week_year'}"
                                                    th:classappend="${menu_level_2.getNote()}"
                                                    th:href="'/' + ${menu_level_2.getLink()}"
                                                    th:text="${menu_level_2.getMenuName()}"></a>
                                                <a th:if="${menu_level_2.getLinkSub() == 'week_year'}"
                                                    th:classappend="${menu_level_2.getNote()}"
                                                    th:href="'/' + ${menu_level_2.getLink()} + '?week=' + ${session.thisWeek} + '&year=' + ${session.thisYear}"
                                                    th:text="${menu_level_2.getMenuName()}"></a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </th:block>
                            </li>
                        </th:block>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>