<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ANSV Management</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/images/logo/ANSV_logo.png}" type="image/x-icon">
    <!-- vendor css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <th:block th:if="${#httpServletRequest.requestURI == '/chi-tiet'}">
        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.min.css}">
        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinFlat.min.css -->
        <link rel="stylesheet" type="text/css"
            th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.skinFlat.min.css}">

        <link rel="stylesheet" th:href="@{/css/main/detail/team-directory-ryan-parag.css}">
        <link rel="stylesheet" th:href="@{/css/main/detail/detail-main.css}">

        <!-- //code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery/ui/1.13.2/themes/base/jquery-ui.css}">

        <!-- <link rel="stylesheet" type="text/css" href="https://www.tiny.cloud/css/codepen.min.css"> -->
    </th:block>


    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- Font Awesome css -->
        <link rel="stylesheet" th:href="@{/vendors/font-awesome-6.2.1/all.min.css}" type="text/css">

        <!-- Select2 - CSS -->
        <link th:href="@{/vendors/select2/css/select2.min.css}" rel="stylesheet" />

        <!-- AlertifyJS - CSS: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/alertify.min.css}" />
        <!-- AlertifyJS - Default theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/default.min.css}" />
        <!-- AlertifyJS - Semantic UI theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/semantic.min.css}" />
        <!-- AlertifyJS - Bootstrap theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/bootstrap.min.css}" />
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <!-- Highcharts - CSS -->
        <link rel="stylesheet" th:href="@{/vendors/highcharts/css/main.css}" type="text/css" />

        <link rel="stylesheet" th:href="@{/vendors/owl-carousel/assets/owl.theme.default.min.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/vendors/owl-carousel/assets/owl.carousel.min.css}" type="text/css" />
        <link rel="stylesheet" th:href="@{/vendors/font-awesome-6.2.1/all.min.css}" type="text/css">

        <link rel="stylesheet" th:href="@{/css/main/dashboard/dashboard-main.css}">
    </th:block>
    <!-- Member - CSS -->
    <th:block th:if="${#httpServletRequest.requestURI.startsWith('/thanh-vien/')}">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
            rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/main/member/member.css}" type="text/css" />
    </th:block>

    <!-- Customer - CSS -->
    <th:block th:if="${#httpServletRequest.requestURI.startsWith('/khach-hang/')}">
        <link rel="stylesheet" th:href="@{/css/main/customer/customer-main.css}" type="text/css" />
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/')}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.min.css}">
        <link rel="stylesheet" type="text/css"
            th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.skinFlat.min.css}">
        <link rel="stylesheet" th:href="@{/css/main/list-report/list-trien-khai.css}" type="text/css" />
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery/ui/1.13.2/themes/base/jquery-ui.css}">
        <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/khach-hang')}">
            <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
                rel="stylesheet">
            <link rel="stylesheet" th:href="@{/css/main/customer/customer-main.css}" type="text/css" />
        </th:block>
    </th:block>
</head>

<body>
    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->

        <!-- [ navigation menu ] start -->
        <section th:replace="fragments/menu :: menu"></section>
        <!-- [ navigation menu ] end -->

        <div id="userProfileModal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="userProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width: 1000px !important;">
                <div class="modal-content" id="userProfileModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userProfileModalLabel">Thông tin cá nhân</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/userProfile/update}" id="form-update-customer" method="post"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-group mb-3">
                                        <input type="hidden" name="id" id="userIdUpdate">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100"
                                                id="userNameUpdateSpan">Tên người dùng</span>
                                        </div>
                                        <input type="text" name="userName" class="form-control" id="userNameUpdate"
                                            aria-describedby="userNameUpdateSpan" disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100"
                                                id="userEmailUpdateSpan">Email</span>
                                        </div>
                                        <input type="text" name="userEmail" class="form-control" id="userEmailUpdate"
                                            aria-describedby="userEmailUpdateSpan" disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100"
                                                id="userWorkCenterUpdateSpan">Phòng ban</span>
                                        </div>
                                        <input type="text" name="userWorkCenter" class="form-control"
                                            id="userWorkCenterUpdate" aria-describedby="userWorkCenterUpdateSpan"
                                            disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100"
                                                id="userEmployeeCodeUpdateSpan">Mã nhân viên</span>
                                        </div>
                                        <input type="text" name="userEmployeeCode" class="form-control"
                                            id="userEmployeeCodeUpdate" aria-describedby="userEmployeeCodeUpdateSpan"
                                            disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100"
                                                id="userRoleUpdateSpan">Chức danh</span>
                                        </div>
                                        <input type="text" name="userRole" class="form-control" id="userRoleUpdate"
                                            aria-describedby="userRoleUpdateSpan" disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend w-25">
                                            <span class="input-group-text bg-primary text-white w-100">
                                                Ảnh đại diện</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="hidden" name="avatarName" id="userAvatarNameUpdate">
                                            <input type="file" name="avatarFile"
                                                class="custom-file-input customerAvatar" data-target="frameUserUpdate"
                                                data-delete="btnDeleteImgUpdate" id="userAvatarUpdate">
                                            <label class="custom-file-label" for="userAvatarUpdate">
                                                Chọn file ảnh ( jpg | jpeg | png )...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" id="avatarUserDisplay">
                                    <img id="frameUserUpdate" src=""
                                        class="img-fluid border border-primary rounded-top w-100" /><br>
                                    <button type="button" id="btnDeleteImgUserUpdate" data-target="frameUserUpdate"
                                        data-input="userAvatarUpdate" class="btn btn-primary w-100 btnDeleteImg"
                                        disabled>Bỏ trống</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <!-- <button type="button" class="btn btn-primary" id="update-btn">Chỉnh sửa</button> -->
                    </div>
                </div>
                <div class="modal-content" id="userProfileEditModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userProfileModalLabel">Sửa thông tin cá nhân</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-0">Woohoo, you're reading this text in a modal 222!</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" id="update-cancel-btn">Hủy</button>
                        <button type="button" class="btn btn-primary" id="update-save-btn">Lưu cập nhật</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Header ] start -->
        <section th:replace="fragments/header :: header"></section>
        <!-- [ Header ] end -->
    </th:block>

    <!-- [ Main Content ] start -->
    <section layout:fragment="content">
        <h1>Phần body chính</h1>
    </section>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script th:src="@{/js/vendor-all.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
    <script th:src="@{/js/ripple.js}"></script>
    <script th:src="@{/js/pcoded.min.js}"></script>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <!-- Highchart - JS -->
        <script th:src="@{/vendors/highcharts/js/highcharts.js}"></script>
        <script th:src="@{/vendors/highcharts/js/exporting.js}"></script>
        <script th:src="@{/vendors/highcharts/js/export-data.js}"></script>
        <script th:src="@{/vendors/highcharts/js/accessibility.js}"></script>
        <script th:src="@{/vendors/highcharts/js/main.js}"></script>
        <script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    </th:block>

    <!-- Member scripts  -->
    <th:block th:if="${#httpServletRequest.requestURI.startsWith('/thanh-vien/')}">
        <script th:src="@{/js/main/member/member-main.js}"></script>
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    </th:block>

    <!-- ListReport scripts  -->
    <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/')}">
        <script th:src="@{/vendors/jquery/ui/1.13.2/jquery-ui.js}"></script>
        <script th:src="@{/vendors/ion-rangeSlider/2.2.0/js/ion.rangeSlider.min.js}"></script>
        <script th:src="@{/vendors/tinymce/js/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/js/main/list-report/list-report.js}"></script>
        <script th:src="@{/js/main/list-report/list-trien-khai.js}"></script>
        <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/khach-hang')}">
            <script
                src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
            <script th:src="@{/js/main/customer/customer-main.js}"></script>
        </th:block>
        <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/kd-vien-thong')}">
            <script th:src="@{/js/main/list-report/vien-thong.js}"></script>
        </th:block>
        <th:block th:if="${#httpServletRequest.requestURI.startsWith('/danh-sach/kd-chuyen-doi-so')}">
            <script th:src="@{/js/main/list-report/chuyen-doi-so.js}"></script>
        </th:block>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- Select2 - JS -->
        <script th:src="@{/vendors/select2/js/select2.min.js}"></script>

        <!-- AlertifyJS - JS: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js -->
        <script th:src="@{/vendors/alertifyJS/js/alertify.min.js}"></script>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <script th:src="@{/js/main/dashboard-main.js}"></script>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/chi-tiet'}">
        <!-- https://code.jquery.com/ui/1.13.2/jquery-ui.js -->
        <script th:src="@{/vendors/jquery/ui/1.13.2/jquery-ui.js}"></script>

        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js -->
        <script th:src="@{/vendors/ion-rangeSlider/2.2.0/js/ion.rangeSlider.min.js}"></script>
        <script th:src="@{/vendors/tinymce/js/tinymce/tinymce.min.js}"></script>

        <script th:src="@{/js/main/detail/detail-main.js}"></script>
        <script th:src="@{/js/main/detail/team-directory-ryan-parag.js}"></script>
    </th:block>

    <script th:src="@{/js/main/main.js}"></script>
</body>

</html>