<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ANSV Management</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/images/logo/ANSV_logo.png}" type="image/x-icon">
    <!-- vendor css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <th:block th:if="${#httpServletRequest.requestURI == '/chi-tiet'}">
        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.min.css}">
        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinFlat.min.css -->
        <link rel="stylesheet" type="text/css"
            th:href="@{/vendors/ion-rangeSlider/2.2.0/css/ion.rangeSlider.skinFlat.min.css}">
        <link rel="stylesheet" th:href="@{/css/main/detail-main.css}">
        <!-- //code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery/ui/1.13.2/themes/base/jquery-ui.css}">

        <!-- <link rel="stylesheet" type="text/css" href="https://www.tiny.cloud/css/codepen.min.css"> -->
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- Font Awesome css -->
        <link rel="stylesheet" th:href="@{/vendors/font-awesome-6.2.1/all.min.css}" type="text/css">

        <!-- Select2 - CSS -->
        <link th:href="@{/vendors/select2/css/select2.min.css}" rel="stylesheet" />

        <!-- AlertifyJS - CSS: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/alertify.min.css}" />
        <!-- AlertifyJS - Default theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/default.min.css}" />
        <!-- AlertifyJS - Semantic UI theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/semantic.min.css}" />
        <!-- AlertifyJS - Bootstrap theme: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css -->
        <link rel="stylesheet" th:href="@{/vendors/alertifyJS/css/bootstrap.min.css}" />
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <!-- Highcharts - CSS -->
        <link rel="stylesheet" th:href="@{/vendors/highcharts/css/main.css}" type="text/css" />
    </th:block>
</head>

<body>
    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->

        <!-- [ navigation menu ] start -->
        <section th:replace="fragments/menu :: menu"></section>
        <!-- [ navigation menu ] end -->

        <!-- [ Header ] start -->
        <section th:replace="fragments/header :: header"></section>
        <!-- [ Header ] end -->
    </th:block>

    <!-- [ Main Content ] start -->
    <section layout:fragment="content">
        <h1>Phần body chính</h1>
    </section>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script th:src="@{/js/vendor-all.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap.min.js}"></script>
    <script th:src="@{/js/ripple.js}"></script>
    <script th:src="@{/js/pcoded.min.js}"></script>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <!-- Highchart - JS -->
        <script th:src="@{/vendors/highcharts/js/highcharts.js}"></script>
        <script th:src="@{/vendors/highcharts/js/exporting.js}"></script>
        <script th:src="@{/vendors/highcharts/js/export-data.js}"></script>
        <script th:src="@{/vendors/highcharts/js/accessibility.js}"></script>
        <script th:src="@{/vendors/highcharts/js/main.js}"></script>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI != '/login'}">
        <!-- Select2 - JS -->
        <script th:src="@{/vendors/select2/js/select2.min.js}"></script>

        <!-- AlertifyJS - JS: //cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js -->
        <script th:src="@{/vendors/alertifyJS/js/alertify.min.js}"></script>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/dashboard'}">
        <script th:src="@{/js/main/main.js}"></script>
    </th:block>

    <th:block th:if="${#httpServletRequest.requestURI == '/chi-tiet'}">
        <!-- https://code.jquery.com/ui/1.13.2/jquery-ui.js -->
        <script th:src="@{/vendors/jquery/ui/1.13.2/jquery-ui.js}"></script>

        <!-- https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js -->
        <script th:src="@{/vendors/ion-rangeSlider/2.2.0/js/ion.rangeSlider.min.js}"></script>
        <script th:src="@{/vendors/tinymce/js/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/js/main/detail-main.js}"></script>
    </th:block>
</body>

</html>