/* ===== Start: Alertify custom ===== */
.ajs-dialog-custom {
    max-width: 25% !important;
    min-width: 380px !important;
    height: 206px !important;
}

.alertify .ajs-commands {
    top: 19px !important;
    right: -10px !important;
}

.alertify .ajs-header {
    background-color: #ffba57 !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    min-height: 42px !important;
}

.alertify .ajs-body {
    height: auto;
}

.alertify.ajs-maximized .ajs-body .ajs-content,
.alertify.ajs-resizable .ajs-body .ajs-content {
    top: 60px !important;
    bottom: 4px !important;
}

.alertify .ajs-footer {
    margin-top: 0;
    margin-left: -25px !important;
    margin-right: -25px !important;
    background-color: #ffba57 !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
    min-height: 43px !important;
}

.alertify.ajs-maximized .ajs-footer,
.alertify.ajs-resizable .ajs-footer {
    height: 42px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
    margin-top: -16px;
}

.alertify-notifier .ajs-message.ajs-custom {
    color: #FFF;
    background-color: #ffba57;
    border-color: #fd7e14;
}

/* ===== End: Alertify custom ===== */



/* ===== Start: Progress bar ===== */
/* INDIVIDUAL BAR HOLDER */
.bar-holder {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 auto;
}

/* progress bar: 20% */
.bar-20 {
    padding-top: 2px;
    height: 25px;
    width: 20%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-color: red;
}

/* progress bar: 40% */
.bar-40 {
    padding-top: 2px;
    height: 25px;
    width: 40%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange);
}

/* progress bar: 60% */
.bar-60 {
    padding-top: 2px;
    height: 25px;
    width: 60%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow);
}

/* progress bar: 80% */
.bar-80 {
    padding-top: 2px;
    height: 25px;
    width: 80%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow, green);
}

/* progress bar: 100% */
.bar-100 {
    padding-top: 2px;
    height: 25px;
    width: 100%;
    color: #111;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    background-image: linear-gradient(100deg, red, orange, yellow, green, blue);
}

/* ===== End: Progress bar ===== */

.table-td-data-none {
    background-color: #BEBEBE !important;
    font-weight: bold;
    font-size: 31px;
    color: #FFF;
    text-align: center !important;
}

.table-bg-form-input {
    background-color: #e9ecef;
}

.table-td-note {
    padding-top: 28px !important;
}

.input-datepicker:focus {
    background-color: #FFF;
}