/* Start: Alertify custom */
.ajs-dialog-custom {
    max-width: 25% !important;
    min-width: 380px !important;
    height: 206px !important;
}

.alertify .ajs-commands {
    top: 19px !important;
    right: -10px !important;
}

.alertify .ajs-header {
    background-color: #ffba57 !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    min-height: 42px !important;
}

.alertify .ajs-body {
    height: auto;
}

.alertify.ajs-maximized .ajs-body .ajs-content,
.alertify.ajs-resizable .ajs-body .ajs-content {
    top: 60px !important;
    bottom: 4px !important;
}

.alertify .ajs-footer {
    margin-top: 0;
    margin-left: -25px !important;
    margin-right: -25px !important;
    background-color: #ffba57 !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
    min-height: 43px !important;
}

.alertify.ajs-maximized .ajs-footer,
.alertify.ajs-resizable .ajs-footer {
    height: 42px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
    margin-top: -16px;
}

.alertify-notifier .ajs-message.ajs-custom {
    color: #FFF;
    background-color: #ffba57;
    border-color: #fd7e14;
}

/* end: Alertify custom */