td span {
    cursor: pointer;
}

.table thead th {
    color: #4680ff !important;
    text-transform: none;
    padding: 5px;
}

.table tr th:last-child,
.table tr td:last-child {
    padding-right: 5px !important;
}

/* .table-list tbody {
    display: block;
    overflow: auto;
} */

/* .table-list thead,
.table-list tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */

/* .table-list thead {
    width: calc(100% - 1em);
} */