.select2-container {
    width: 80px !important;
    height: 30px;
}

.select2-container--default .select2-selection--single {
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: -45% !important;
}